.coverage
.noseids
*.pyc
*~
run_mdao.egg-info
run_mdao/test/TestBench2/_FAILED.txt
run_mdao/test/XFOIL_Tier_1/log/
run_mdao/test/bin.out
run_mdao/test/differently_named_bin.dat
run_mdao/test/hosts
/build/
/dist/
/venv/
/htmlcov/
run_mdao/test/TestBench2_Files/FileInput1.ext
run_mdao/test/TestBench2_Files/FileOutput1.ext
run_mdao/test/TestBench2_Files/log/
run_mdao/test/time.txt
_REPORT.html
# these tests aren't repeatable
run_mdao/test/mdao_config_driverless_hierarchy.json.output.csv
run_mdao/test/mdao_config_simple_subproblem.json.output.csv
run_mdao/test/mdao_config_subproblem_three_levels.json.output.csv
run_mdao/test/mdao_config_subproblem_output_connected_to_objective.json.output.csv


venv3/
